In [ ]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [ ]:


userInput = [
            {'title':'Snake', 'rating':3.5},
            {'title':'Kesariya', 'rating':3},
            {'title':'Starboy', 'rating':5},
         ]
inputsongs=pd.DataFrame(userInput)
inputsongs

      title  rating
0     Snake     3.5
1  Kesariya     3.0
2   Starboy     5.0

In [ ]:
songs_genres = ['Pop','Jazz','Electronic','Classical']
songs = [['Snake', 1,1, 0, 0], ['Kesariya', 0,1, 1, 0],['Starboy', 0, 1, 0,1]]
songs_df = pd.DataFrame(songs, columns = ['Title'] + songs_genres)
songs_df

      Title  Pop  Jazz  Electronic  Classical
0     Snake    1     1           0          0
1  Kesariya    0     1           1          0
2   Starboy    0     1           0          1

In [ ]:
C = songs_df[['Pop','Jazz','Electronic','Classical']].to_numpy()
C

array([[1, 1, 0, 0],
       [0, 1, 1, 0],
       [0, 1, 0, 1]])

In [ ]:
u=np.array([3.5,3,5])
u

array([3.5, 3. , 5. ])

In [ ]:
unkown=[['Ranja',0,1,0,1],['Mainke',0,0,1,1],['Excuses',1,1,0,0]]
new_songs_df = pd.DataFrame(unkown, columns = ['Title']+songs_genres)
new_songs_df

     Title  Pop  Jazz  Electronic  Classical
0    Ranja    0     1           0          1
1   Mainke    0     0           1          1
2  Excuses    1     1           0          0

In [ ]:
D=np.matmul(u,C)

In [ ]:
sum=0
for i in userInput:
  for j in i:
    if j=='rating':
      sum=sum+i[j]

print(sum)

11.5

In [ ]:
t=[]
for i in D:
  i=i/sum
  t.append(i)
np.array(t)

array([0.30434783, 1.        , 0.26086957, 0.43478261])

In [ ]:
new_songs_df=new_songs_df.T
new_songs_df

                0       1        2
Title       Ranja  Mainke  Excuses
Pop             0       0        1
Jazz            1       0        1
Electronic      0       1        0
Classical       1       1        0

In [ ]:
new_songs_df=new_songs_df.drop('Title')
new_songs_df=new_songs_df.rename(columns={0:'Ranja',1:'Mainke',2:'Excuses'})
new_songs_df

           Ranja Mainke Excuses
Pop            0      0       1
Jazz           1      0       1
Electronic     0      1       0
Classical      1      1       0

In [ ]:
np.matmul(t,new_songs_df)

Ranja      1.434783
Mainke     0.695652
Excuses    1.304348
dtype: object